body{
    background-color: black;
    color: white;
}
body::selection{
    background-color: grey;
    color: crimson;
    
}
p{
    color: whitesmoke;
}
p::first-line{
    color: crimson;
}
p::first-letter{
    font-size: 50px;
}
p::before{
    content: "Yoyo";
}
p::after{
    content: "Yoyo";
}
img:hover{
    content: url("2492640.jpg");
    width: 50%;
}
/* h1::selection{
    background-color: grey;
    color: crimson;
} */

li::marker{
    color: brown;
    font-size: 50px;
    
}
ul{
    font-size: 10px;
}
