*{
    margin: 0;padding: 0;box-sizing: border-box;
}
.container{
    height: 200px;
    width: 350px;
    border: 2px solid crimson;
    display: flex;
    gap: 10px;
    /* flex-direction: column; */
    justify-content: center;
    padding: 20px 0px 0px;

}
.items{
    height: 25px;
    width: 55px;
    background-color: gray;
    border: 1px solid;
    border-radius: 40px;
}
.items a{
    color: black;
    font-size: 10px;
    display: flex;
    justify-content: center;
    text-decoration: none;
    padding: 5px;
}